[mysqld]
user=mysql
basedir=/opt/software/mysql
datadir=/opt/data/mysql
server_id=133
port=3306
skip_name_resolve=1
log-error=/opt/logs/mysql/mysql80err.log
pid-file=/opt/data/mysql/mysql80.pid
default_time_zone="+08:00"
[mysql]
prompt=[\u \D \d]>
