[mysqld]
user=mysql
basedir=/opt/software/mysql57
datadir=/opt/data/mysql3307
skip_name_resolve = 1
socket=/tmp/mysql3307.sock
server_id=11
port=3307
log-error=/opt/logs/mysql3307/mysql3307_err.log
pid-file=/opt/data/mysql3307/mysql3307.pid
default_time_zone = "+08:00"
character_set_server=utf8

innodb_buffer_pool_instances=2
innodb_buffer_pool_size=384M

innodb_data_file_path=ibdata1:1G

innodb_log_file_size=512M
innodb_log_files_in_group=4
innodb_log_group_home_dir=/opt/logs/mysql3307/redo

innodb_max_undo_log_size=1073741824
innodb_purge_rseg_truncate_frequency=33
innodb_rollback_segments=128
innodb_undo_directory=/opt/logs/mysql3307/undo
innodb_undo_log_truncate=1
innodb_undo_tablespaces=5

innodb_temp_data_file_path=../../logs/mysql3307/tmp/ibtmp1:100M:autoextend:max:500M

general_log=ON
general_log_file=/opt/logs/mysql3307/general/mysql57.log

log_bin=/opt/logs/mysql3307/binlog/mybinlog
max_binlog_size=100M

slow_query_log=1
slow_query_log_file=/opt/logs/mysql3307/slow/slow.log
long_query_time=1
log_queries_not_using_indexes=1

relay_log=/opt/logs/mysql3307/relaylog/my-relay-log

gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON

[mysql]
prompt=[\u \D \d]>
