[mysqld]
user=mysql
basedir=/opt/software/mysql80
datadir=/opt/data/mysql3308
server-id=3
port=3308
socket=/tmp/mysql3308.sock
mysqlx_port=33080
mysqlx_socket=/tmp/mysql3308.sock
skip_name_resolve=1
log-error=/opt/logs/mysql3308/mysql3308error.log
pid-file=/opt/data/mysql3308/mysql3308.pid
default-storage-engine=InnoDB
character-set-server=utf8mb4
default_time_zone='+08:00'
innodb_file_per_table=1
innodb_data_file_path=ibdata1:1G
#innodb_undo_tablespaces=5
innodb_undo_log_truncate=1
innodb_max_undo_log_size=1073741824
innodb_undo_directory=/opt/logs/mysql3308/undo
innodb_purge_rseg_truncate_frequency=32
innodb_rollback_segments=128
innodb_temp_tablespaces_dir=/opt/logs/mysql3308/tmp
innodb_temp_data_file_path=../../logs/mysql3308/tmp/ibtmp33081:100M:autoextend:max:500M
#innodb_log_file_size=512M
#innodb_log_files_in_group=4
innodb_redo_log_capacity=2G
innodb_log_group_home_dir=/opt/logs/mysql3308/redo
innodb_doublewrite_dir=/opt/logs/mysql3308/dbw
innodb_doublewrite_files=4
innodb_buffer_pool_instances=2
innodb_buffer_pool_size=384M
innodb_buffer_pool_filename=myib_buffer_pool
general_log=1
general_log_file=/opt/logs/mysql3308/genaral/mysql80.log
autocommit=1
transaction_isolation=REPEATABLE-READ
log_bin=/opt/logs/mysql3308/binlog/mybinlog
binlog_format=ROW
sync_binlog=1
binlog_expire_logs_seconds=259200
max_binlog_size=100M
slow_query_log=1
slow_query_log_file=/opt/logs/mysql3308/slow/slow.log
long_query_time=1
log_queries_not_using_indexes=1
relay_log=/opt/logs/mysql3308/relay/my-relay-log
gtid_mode=ON
enforce_gtid_consistency=ON
#log_slave_updates=ON
log_replica_updates=ON

[client]
prompt=[\u \D \d]>