[mysqldump]
quick

[mysqld]
user=mysql
basedir=/opt/software/mysql80
datadir=/opt/data/mysql3306
server-id=1
port=3306
socket=/opt/data/mysql3306/mysql.sock
mysqlx_port=33060
mysqlx_socket=/opt/data/mysql3306/mysql.sock
skip_name_resolve=1
pid-file=/opt/data/mysql3306/mysql.pid
default-storage-engine=InnoDB
character-set-server=utf8mb4
default_time_zone='+08:00'
activate_all_roles_on_login=1
log_bin_trust_function_creators=1
log_timestamps=system
sql_require_primary_key=ON
report_host="192.168.76.135"
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"


#innodb
innodb_io_capacity=5000
innodb_io_capacity_max=10000
innodb_flush_method=O_DIRECT

innodb_file_per_table=1
#innodb_data_home_dir=/opt/data/mysql3306/
innodb_data_file_path=ibdata1:1G

#innodb_buffer_pool_instances=4
#innodb_buffer_pool_chunk_size=512M
innodb_buffer_pool_size=512M
innodb_buffer_pool_filename=myib_buffer_pool

#innodb_undo_tablespaces=5
innodb_undo_log_truncate=1
innodb_max_undo_log_size=1073741824
innodb_undo_directory=/opt/logs/mysql3306/undo
innodb_purge_rseg_truncate_frequency=32
innodb_rollback_segments=128

innodb_temp_tablespaces_dir=/opt/logs/mysql3306/tmp
innodb_temp_data_file_path=../../logs/mysql3306/tmp/ibtmp33061:100M:autoextend:max:500M

#innodb_log_file_size=512M
#innodb_log_files_in_group=4
innodb_redo_log_capacity=2G
innodb_log_group_home_dir=/opt/logs/mysql3306/redo

innodb_doublewrite_dir=/opt/logs/mysql3306/dbw
innodb_doublewrite_files=4

#LOG
log-error=/opt/logs/mysql3306/error.log
general_log=0
general_log_file=/opt/logs/mysql3306/genaral/mysql80.log

log_bin=/opt/logs/mysql3306/binlog/mybinlog
binlog_format=ROW
sync_binlog=1
#expire_logs_days=3
binlog_expire_logs_seconds=259200
max_binlog_size=1G

slow_query_log=1
slow_query_log_file=/opt/logs/mysql3306/slow/slow.log
long_query_time=1
log_queries_not_using_indexes=1

relay_log=/opt/logs/mysql3306/relay/my-relay-log

#autocommit=1
transaction_isolation=READ-COMMITTED

#REPLICATION
gtid_mode=ON
enforce_gtid_consistency=ON
log_slave_updates=ON
log_replica_updates=ON
#read_only=ON
#super_read_only=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_transaction_dependency_tracking=WRITESET
transaction_write_set_extraction=XXHASH64

#MULTI-THREADED REPLICATION
slave_preserve_commit_order=ON
slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=4

#GROUP REPLICATION
plugin_load_add="group_replication.so"
loose_group_replication_group_name="2593eb2b-c55b-11ee-9e75-000c29783f4f"
loose_group_replication_local_address="192.168.76.135:33061"
loose_group_replication_group_seeds="192.168.76.135:33061,192.168.76.136:33061,192.168.76.137:33061"
loose_group_replication_start_on_boot=OFF
loose_group_replication_bootstrap_group=OFF
loose_group_replication_recovery_get_public_key=ON
